<body>
    <div class="container text-center mt-5">
        <div class="bg-light p-4 rounded">     
            <% if user_signed_in? %>
                <h2 class="mb-4">Email du compte : <%=current_user.email%></h2>
                <%= link_to 'Edit my profile', edit_user_registration_path, class: 'btn btn-warning mb-3' %>
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Numéro de commande</th>
                            <th scope="col">Contenu de la commande</th>
                            <th scope="col">Date de la commande</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% (current_user.orders).all.each do |order| %>
                        <tr>
                            <% item = order.product%>
                            <td><%= order.id %></td>
                            <td><%= item.name %></td>
                            <td><%= order.created_at.strftime('%d/%m/%Y %H:%M') %></td>
                        </tr>
                        <%end%>
                    </tbody>
                </table>
            <% else %>
                <%= button_to 'Connecte-toi pour accéder à ton profil', new_user_session_path, class: 'btn btn-primary btn-xl' %>
            <% end %>
        </div>
    </div>
</body>
