<body>
    <div class="container text-center mt-5">
        <div class="bg-light p-4 rounded">     
            <% if user_signed_in? %>
                <h2 class="mb-4">Account: <%=current_user.email%></h2>
                <%= link_to 'Edit my profile', edit_user_registration_path, class: 'btn btn-warning mb-3' %>
                <table class="table table-striped">
                    <thead class="table-dark" id="dark_table">
                        <tr>
                            <th scope="col">OrderID</th>
                            <th scope="col">Content</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% previous_order = 0 %>
                        <% (current_user.orders).all.reverse_each do |order| %>
                            <% order_now = order.created_at.to_s %>
                            <%if previous_order.to_s == order_now%>
                            <% else %>
                                <tr class= "bg-secondary" id="order_band">
                                    <td colspan="3">Ordered the  <%= order.created_at.strftime('%d/%m/%Y') %> at <%= order.created_at.strftime('%H:%M') %> </td>
                                </tr>
                            <%end%>
                        <tr>
                            <% item = order.product%>
                            <td><%= order.id %></td>
                            <td><%= item.name %></td>
                            <td><%= item.price%> €</td>
                            <% previous_order = order.created_at %>
                        </tr>
                        <%end%>
                    </tbody>
                </table>
            <% else %>
                <%= button_to 'Connecte-toi pour accéder à ton profil', new_user_session_path, class: 'btn btn-primary btn-xl' %>
            <% end %>
        </div>
    </div>
</body>
