<div class="container mt-5" id="cart_show_block">
  <h1 class="text-center" id="cart_show">Your Cart <i class="fa-solid fa-cart-shopping"></i></h1>
  <div class="row" id="cards_show_cart">
    <% if @products.empty? %>
      <p class="text-center">Your cart is empty</p>
    <% else %>
      <% total_price = 0 %>
      <% @products.each do |product| %>
        <div class="col-md-4 mt-4">
          <div class="card">
            <%= image_tag(product.image, alt: product.name, class: 'card-img-top',style: 'height:300px;width:100%;') %>
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.price %>€</p>
              <% total_price = total_price + product.price %>
              <div class="text-center">
                <%= button_to 'Remove from cart', { action: 'remove_from_cart', product_id: product.id }, method: :delete, data: { confirm: 'Are you sure ?' }, class: 'btn btn-danger' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% session[:total_price] = total_price %>
      <div class="col-12 text-center mt-3">
        <h5 id="total_price"> Total Price : <%= total_price %> € </h3>
          <%= button_to 'Valider le panier', new_charge_path(cart_id: @cart.id), method: :get, class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
