<div class="container text-center">
  <div class="page-section bg-light">
    <div class="product-show">
      <%= image_tag(@product.image, alt: @product.name, class: 'img-fluid', size: "800x600") %>
      <h2><%= @product.name %></h2>
      <p><%= @product.description %></p>
      <p><%= @product.price %> €</p>
    </div>
    <% if user_signed_in? %>
      <%= button_to 'Ajouter au panier', add_to_cart_path(@product.id), method: :post, class: "btn btn-primary btn-xl" %>

    <% else %>
      <%= link_to 'Connectez-vous pour ajouter au panier', new_user_session_path, class: 'btn btn-primary btn-xl' %>
    <% end %>
  </div>
</div>

