<div class="container text-center">
  <div class="page-section bg-light" id="show_product">
    <div class="product-show">
      <%= image_tag(@product.image, alt: @product.name, class: 'img-fluid', size: "800x600") %>
      <h2><%= @product.name %></h2>
      <p><%= @product.description %></p>
      <p><%= @product.price %> €</p>
    </div>
    <% if user_signed_in? %>
      <%= button_to 'Add to cart', add_to_cart_path(@product.id), method: :post, class: "btn btn-primary btn-xl" %>
      <% if current_user.is_admin %>
        <%= link_to 'Edit Product', "#{@product.id}/edit", class: 'btn btn-danger mb-3' %>
      <%end%>
    <% else %>
      <%= link_to 'Connectez-vous pour ajouter au panier', new_user_session_path, class: 'btn btn-primary btn-xl' %>
    <% end %>
  </div>
</div>

