<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag("img/logo.svg", alt: "...") %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">/
        Menu
        <i class="fas fa-bars ms-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
        <li class="nav-item">
            <%= link_to 'Portfolio', root_path(anchor: 'portfolio'), class: "nav-link #{'active' if current_page?(root_path(anchor: 'portfolio'))}" %>
        </li>
        <li class="nav-item">
            <%= link_to 'All Products', all_product_path, class: "nav-link #{'active' if current_page?(all_product_path)}" %>
        </li>    
        <% if current_user %>
       <li class="nav-item">
            <%= link_to mycart_path, class: "nav-link #{'active' if current_page?(mycart_path)}" do %>
                My Cart <i class="fa-solid fa-cart-shopping"></i>
            <% end %>
        </li>
        <li class="nav-item">
            <%= link_to 'Profile', user_profile_path, class: "nav-link #{'active' if current_page?(user_profile_path)}" %>
        </li>
      <% end %>
        <% unless user_signed_in? %>
            <li class="nav-item">
                <%= link_to 'Log In', new_user_session_path, class: "nav-link #{'active' if current_page?(new_user_session_path)}" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Subscribe', new_user_registration_path, class: "nav-link #{'active' if current_page?(new_user_registration_path)}" %>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-link #{'active' if current_page?(destroy_user_session_path)}" %>
            </li>               
        <% end %>
        </ul>
    </div>
    </div>
</nav>
